.main-wr {padding-top: 50px;}


#header {padding-bottom: 16px; border-bottom: 1px orange solid; margin-bottom: 25px;}
#header ul {margin-bottom: 4px;}

#sidebar .menu {margin-bottom: 25px;}

#main .filter {padding-bottom: 10px; border-bottom: 1px orange solid;}


.track-list ul li {margin-bottom: 5px; padding: 5px 2px; width: 100%; border-bottom: 1px #eee dashed;}
.track-list ul li:hover {background: #eee;}

.track-list ul li  .info,.track-list ul li  .info a {color: #D1D1D1;}
.track-list ul li .favorite {display: none;}
.track-list ul li .favorite.already {display: inline;}
.track-list ul li:hover .favorite {display: inline;}

#footer {padding: 10px 0; border-top: 1px gray solid;}