<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /asldkjalk23487zs02lskj/djstream/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
